body {
  margin: 0;
  background-color: lightgray;
}

.game-wrapper {
  margin: 0 auto;
}

.logo {
  width: 12em;
  height: 3em;
  margin: 0 auto;
  background-color: aqua;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  line-height: 3em;
}

.game-desc-box {
  padding-top: 6em;
  margin: 0 auto;
  text-align: center;
  max-width: 50em;
  height: auto;
  position: relative;
  background-image: url("../../public/img/harry.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 85%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -9999;
}

game-desc {
  z-index: 10;
}
.game-desc h2 {
  margin-bottom: 3em;
  z-index: 10;
}

.game-desc p {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  z-index: 10;
}

.start-button {
  display: block;
  width: 12.5em;
  margin: 0 auto;
  margin-top: 40em;
  background-color: black;
  text-align: center;
  line-height: 80px;
  border-radius: 20px;
  z-index: 999;
}

.start-button a {
  padding: 30px 56px;
  color: white;
}

.select-box {
  position: absolute;
  left: 50px;
  top: 1000px;
}

.select-box button {
  width: 300px;
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}
