body {
  margin: 0;
  background-color: lightgray;
}

.game-wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: aqua;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.game-desc {
  padding-top: 10px;
  margin-top: 5rem;
  text-align: center;
  height: 800px;
  position: relative;
}
.game-wrapper::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../public/harry.jpeg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  position: absolute;
  opacity: 70%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.game-desc h2 {
  margin-bottom: 50px;
  z-index: 10;
}

.game-desc p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  z-index: 10;
}

.start-button {
  display: block;
  width: 200px;
  background-color: black;
  text-align: center;
  line-height: 80px;
  margin: 10px auto;
  margin-top: 50rem;
  border-radius: 20px;
}

.start-button a {
  padding: 30px 56px;
  color: white;
}

.select-box {
  position: absolute;
  left: 50px;
  top: 1000px;
}

.select-box button {
  width: 300px;
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}
